body {
    color: #283618;
    background-color: #fefae0;
}

a {
    color: #bc6c25;
    font-weight: 800;
    text-decoration: none;
}

h1 {
    text-decoration: wavy;
}

h3 {
    text-decoration: underline;
}